#customize-theme-controls .control-section-prime_hosting_button .accordion-section-title {
	background-image: linear-gradient(to right, #3d9Adc, white) !important;
}

#customize-theme-controls .control-section-prime_hosting_button .accordion-section-title a {
	color: #1d3571;
	text-decoration: none;
}